{% load static %}

{% if user.is_authenticated %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}Tofiee{% endblock %}</title>
<link rel="icon" type="image/png" href="{% static 'tofie.jpg' %}">

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="{% static 'astyle.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin.css' %}" />
</head>
<body>
<div id="main_container">
  <div id="header">
    <div id="logo"> <a href="/"><img src="{% static 'tofie.jpg' %}" width="147" height="78" alt="" border="0" /></a> </div>
    <div class="banner_adds"></div>
    <div class="menu">
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="/user/">Hi {{ user.username }}!</a>
        </li>
      </ul>
    </div>
  </div>
  <main>
    {% block content %}
    {% endblock %}
</main>
  <!-- end of main_content -->
  <div id="footer">
    <div id="copyright">
      <div style="float:left; padding:3px;"><a href="#"><img src="{% static 'tofie.jpg' %}" width="42" height="35" alt="" border="0" /></a></div>
      <div style="float:left; padding:14px 10px 10px 10px;"> Tofiee.&copy; All Rights Reserved 2008 - By <a href="http://tofieegh.com" style="color:#772c17;">Tofiee</a></div>
    </div>
    <ul class="footer_menu">
      <li><a href="/" class="nav_footer"> Home </a></li>
      <li><a href="/rent/" class="nav_footer"> Renting  </a></li>
      <li><a href="/buy/" class="nav_footer"> Buying  </a></li>
      <li><a href="/sell/" class="nav_footer"> Funding</a></li>
    </ul>
  </div>
</div>
<!-- end of main_container -->
</body>
{% else %}
<h1>login first</h1>
{% endif %}

</html>
