{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    /* Styling for the expanded image */
.expanded-image {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.expanded-image img {
	max-width: 80%;
	max-height: 80%;
}
</style>
  <div class="col-md-6 offset-md-3">
    {% if object.category == 'sell' %}
      <div class="title">For Sale: {{ object.title }}</div>
      {% elif object.category == 'rent' %}
      <div class="title">For Rent: {{ object.title }}</div>
      {% else %}
      {% endif %}
    </div>

<div class="row">
  <div class="col">
    <br>
  <div class="" style="background-color:#f3f5f6; margin-left:5px;">
    <div class="big_pic"><img src="{{ object.dp.url }}" onclick="expandImage(this)" width="282" height="212" alt="" class="img_big_pic" /></div>
    <div class="expanded-image" onclick="closeExpandedImage()">
        <img id="expanded-img" src="" alt="Expanded Image">
    </div>
    <div class="pictures_thumbs">
      <h3>Pictures available:</h3>
      <a href="#"><img src="{{ object.pic1.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> <a href="#"><img src="{{ object.pic2.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> <a href="#"><img src="{{ object.pic3.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> <a href="#"><img src="{{ object.pic4.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> <a href="#"><img src="{{ object.pic5.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> <a href="#"><img src="{{ object.pic6.url }}" onclick="expandImage(this)" width="104" height="78" border="0" alt="" class="img_thumb" /></a> </div>
  </div>
</div>


  <div class="col">
    <div class="main_text_box">
      <h1>Description</h1>
      <p><b>Location: {{ object.city }}, {{ object.region }} Region </b></p>
      <p>{{ object.description }}</p>
      
                <br />
    </div>
    <div class="title2">Details:</div>
    <div class="details_list">
      <ul>
        <li><span>Price: GHC</span> {{ object.price }} </li>
        {% if object.category == 'rent' %}
        <li><span>Available from</span> {{ object.availability_from }} to {{ object.availability_to }}</li>

        {% else %}
        {% endif %}
        <li><span>District:</span> {{ object.city }} </li>
        <li><span>Town:</span> {{ object.town }} </li>
        <li><span>Rooms:</span> {{ object.rooms }}</li>
        <li><span>Bathrooms:</span> {{ object.bathrooms }}</li>
        <li><span>Other utilities:</span> {{ object.bathrooms }}</li>
      </ul>
    </div>
    <div style="float:left;">
      <div class="button"><a href="#">I'm Interested</a></div>
    </div>
    <div style="float:left; padding-left:150px;"><a href="#"><img src="{% static 'images/print.gif' %}" width="28" height="28" border="0" alt="print this offer" title="print this offer" /></a> </div>
    <!-- end of column three -->
  </div>

</div>
<script>
  function expandImage(img) {
      var expandedImg = document.getElementById("expanded-img");
      expandedImg.src = img.src;
      var expandedImageContainer = document.querySelector(".expanded-image");
      expandedImageContainer.style.display = "flex";
  }

  function closeExpandedImage() {
      var expandedImageContainer = document.querySelector(".expanded-image");
      expandedImageContainer.style.display = "none";
  }
</script>
{% endblock %}