{% load static %}

<!-- expand_image.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Expand Image</title>
    <style>
        /* Styling for the expanded image */
        .expanded-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .expanded-image img {
            max-width: 80%;
            max-height: 80%;
        }
    </style>
</head>
<body>
    <h1>Click the Image to Expand</h1>
    <img src="{% static 'tofie.jpg' %}" alt="Image" onclick="expandImage(this)">
    <div class="expanded-image" onclick="closeExpandedImage()">
        <img id="expanded-img" src="" alt="Expanded Image">
    </div>

    <script>
        function expandImage(img) {
            var expandedImg = document.getElementById("expanded-img");
            expandedImg.src = img.src;
            var expandedImageContainer = document.querySelector(".expanded-image");
            expandedImageContainer.style.display = "flex";
        }

        function closeExpandedImage() {
            var expandedImageContainer = document.querySelector(".expanded-image");
            expandedImageContainer.style.display = "none";
        }
    </script>
</body>
</html>
