{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="col">
    <div class="title" style="float:left;">
      <div style="float:left;">Project funding.</div>
      <!-- <div style="float:right; font-size:10px;color:#d8325d;padding-top:2px;">display: <a href="list2.html"><img src="images/list_style3.gif" border="0" /></a> <a href="list1.html"><img src="images/list_style1.gif" border="0" /></a> <a href="list.html"><img src="images/list_style2_a.gif" border="0" /></a> </div> -->
    </div>
    <br>
    <br>
    <p>The following the processes invloved to request funding for shovel ready projects</p>

<div class="details_list">
  <ul>
    <li><span>1.  The real estate developer with a shovel ready projects send us letter of intent stating their funding request.</span> </li>
    <li><span>2.  All documents concerning the project must be sent to tofiee designated email for review.</span></li>

    <li><span>3.  After the review land the project is considered viable for funding, online meeting with be scheduled to discuss the project with our affiliated funding raising company.</span></li>
    <li><span>4.  The affiliate company will send an engagement to the developer and a contract will be signed between the two parties.</span></li>
  </ul>
</div>
<button>Request for funding</button>
</div>


    {% endblock %}